.contents{
    background:url(../images/background.png) fixed repeat-y 0px 0px;
    margin: auto;
    transform-origin: 0% 0%;
}
.full-width {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}
.full-img {
    width: 100vw;
    width: auto;
    margin-left: calc(-50vw + 50%);
}
h2 {color:#dddddd}
p { color:#dddddd }
a:link { color:#ffffff; text-decoration: none; }
a:visited { color:#eeeeee; text-decoration: none;}
a:hover{ color:#dddddd; text-decoration: underline; }
a:active { color:#cccccc; text-decoration:none }
body {
    overflow-x: hidden;
    font-family:'Titillium Web';
    margin: auto;
}
