.contents{
    background-image: url(https://github.com/nakagawa-atsushi-1998/domain/blob/main/images/background.png?raw=true);/*https://github.com/nakagawa-atsushi-1998/domain/blob/main/images/background.png?raw=true*/
    background-attachment: fixed;
    margin: auto;
    transform-origin: 0% 0%;
}
@font-face {
    font-family: 'Titillium Web';
    src: url('../fonts/Titillium_Web/TitilliumWeb-Light.ttf') format('truetype');
    unicode-range: U+0030-0039, U+0041-007A;
}
body {
    margin: auto;
    overflow-x: hidden;
    font-family:'Titillium Web', 'Noto Sans JP';
}
nav {
    width: 100%;
    position: fixed;
	background-color: rgba(255,255,255,0.1);
    overflow: hidden;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
nav ul li {
	padding: 1% 5%;
    text-align: center;
}
/* nav ul li:hover:not(.active) {
    opacity: 0.1;
	background-color: #EEE;
} */
nav ul li a {
    text-decoration: none;
    color: #EEF;
    font-weight: bold;
}
nav ul li a:hover {
    opacity: 1;
	color: #EEF;
}
nav ul li a:link {
    opacity: 1;
	color: #EEF;
}
nav ul li a:active {
	color: #EEF;
}
nav ul li a:visited {
    opacity: 1;
	color: #DDF;
}
h2 { color:#EEF }
p { color:#EEF }
a:hover{ color:#EEF; text-decoration: underline; }
a:link { color:#EEF; text-decoration: none; }
a:active { color:#EEF; text-decoration:none; }
a:visited { color:#DDF; text-decoration: none;}
label { color:#EEF }
input { color:#EEF }
textarea { color:#EEF }

/*
.box {
    overflow-y: scroll;
    /* IE, Edge 対応
    -ms-overflow-style: none;
    /* Firefox 対応
    scrollbar-width: none;
}
   /* Chrome, Safari 対応
.box::-webkit-scrollbar {
    display:none;
}
*/