.contents{
    background-image: url(https://github.com/nakagawa-atsushi-1998/domain/blob/main/images/background.png?raw=true);/*https://github.com/nakagawa-atsushi-1998/domain/blob/main/images/background.png?raw=true*/
    background-attachment: fixed;
    max-width: 100%;
    margin: auto;
    transform-origin: 0% 0%;
}
nav {
    /* float: left; */
    width: 100%;
    color:#dddddd;
    position: fixed;
    opacity: 0.05;
	background-color: #ffffff;
}
nav ul {
    display: flex;
    justify-content: center;
}
li {
    color: #ffffff;
	padding: 1% 5%;
    text-align: center;
    list-style: none;
}
li:hover:not(.active) {
    opacity: 0.1;
	background-color: #ffffff;
}
li a {
    color: #ffffff;
}
li a.active {
	background-color: #da3c41;
}
h2 { color:#dddddd }
p { color:#dddddd }
a:link { color:#ffffff; text-decoration: none; }
a:visited { color:#eeeeee; text-decoration: none;}
a:hover{ color:#dddddd; text-decoration: underline; }
a:active { color:#dddddd; text-decoration:none }
@font-face {
    font-family: 'Titillium Web';
    src: url('../fonts/Titillium_Web/TitilliumWeb-Light.ttf') format('truetype');
    unicode-range: U+0030-0039, U+0041-007A; /* 数字 */
}
body {
    overflow-x: hidden;
    font-family:'Titillium Web', 'Noto Sans JP';
    margin: auto;
}
